<div class="text-center text-bold">
    <p>Entrez votre adresse mail, pour recevoir votre mot de passe.</p>
</div>

<form [formGroup]="defaultForm" (ngSubmit)="submitForm()">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="E-mail du compte" formControlName="email" required>
        <div class="input-group-append">
            <i class="input-group-text fas fa-envelope"></i>
        </div>
    </div>

    <div>
        <button class="btn btn-primary btn-block rounded-pill" type="submit" [disabled]="defaultForm.invalid">Valider</button>
    </div>

    <div class="mt-3">
        <a class="btn btn-link btn-block rounded-pill" routerLink="/login" role="button">Se connecter</a>
    </div>
</form>