#body {
    height: 100vh;
    background-color: rgba(34, 34, 34, 0.8);
}

input {
    background-color: rgba(255, 255, 255, .1)!important;
    color: rgba(255, 255, 255, .7)!important;
    background-clip: padding-box;
    border-color: rgba(255, 255, 255, .2)!important;
    width: 280px!important;
}

@media (min-width: 992px) {}