<section id="body" class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="mb-3"><img src="/assets/img/login-logo.svg" alt="logo" width="100%"></div>

    <div class="d-flex justify-content-center" [ngSwitch]="work">
        <app-default *ngSwitchCase="'login'" (formCredentials)="logUser($event)" (popupEvent)="$event.redirect ? show_popup($event.color, $event.message) : show_popup($event.color, $event.message, $event.time ,$event.redirect)">
        </app-default>
        <app-register *ngSwitchCase="'register'" (formCredentials)="registerUser($event)" (popupEvent)="$event.redirect ? show_popup($event.color, $event.message) : show_popup($event.color, $event.message, $event.time ,$event.redirect)"></app-register>
        <app-reset *ngSwitchCase="'reset'" (formCredentials)="resetUserPassword($event)" (popupEvent)="$event.redirect ? show_popup($event.color, $event.message) : show_popup($event.color, $event.message, $event.time ,$event.redirect)"></app-reset>
    </div>
</section>