<div class="pl-1 pr-1" style="position: absolute; bottom: 10%;">
    <div class="alert alert-dismissible fade show" [ngClass]="color" role="alert">
        <img src="../../../../assets/img/login-logo.svg" alt="" width="50px">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="this.popupClosed.emit()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>