<!--
    Menu
-->
<nav class="container-fluid navbar navbar-expand-md navbar-light bg-white shadow-sm mb-2">
    <img class="navbar-brand" src="assets/img/login-logo.svg" alt="logo">
    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="mynavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/lessons">Acceuil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">A propos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compte</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" routerLink="/account">Informations personnelles</a>
                    <a class="dropdown-item" routerLink="/account/payments">Paiements</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
            <input class="form-control" type="text" placeholder="Rechercher">
        </form>
    </div>
</nav>

<!--
    Main part
-->
<section class="container mt-4 pb-5" *ngIf="courses">
    <div class="row d-flex align-items-center justify-content-center">
        <article class="col-lg-3" *ngFor="let course of courses">
            <div class="card mb-4 shadow-sm">
                <img src="{{ course.img_url }}" alt="course_image" class="img-fluid">
                <div class="card-body">
                    <p class="text-primary text-capitalize font-weight-bold mb-2">
                        {{ course.title }}
                    </p>
                    <button class="btn btn-primary" [routerLink]="['/lessons/', course.id]">Accéder au cours</button>
                </div>
            </div>
        </article>
    </div>

    <!--
    Next previous part pc
-->
    <article class="row vh-10 d-none d-lg-flex d-xl-flex justify-content-center mb-5 bg-white pt-0">
        <button class="btn btn-outline-primary rounded mr-5"><i class="fas fa-arrow-left"></i> Préc.</button>
        <button class="btn btn-outline-primary rounded ml-5">Suiv. <i class="fa fa-arrow-right"></i></button>
    </article>
    <!--
    Next previous part mobile
-->
    <article class="row vh-10 fixed-bottom d-lg-none d-xl-none d-flex justify-content-around p-2 bg-white">
        <button class="btn btn-outline-primary rounded"><i class="fas fa-arrow-left"></i> Préc.</button>
        <button class="btn btn-outline-primary rounded">Suiv. <i class="fa fa-arrow-right"></i></button>
    </article>
</section>
<!--
    Retry Option
-->
<section class="container vh-100 d-flex flex-column justify-content-center align-items-center" *ngIf="retryOption && courses == undefined">
    <h4><i class="fas fa-frown fa-4x"></i></h4>
    <h4>Une erreur s'est produite</h4>
    <div><button class="btn btn-primary mt-4" (click)="getCourses()">Réessayer</button></div>
</section>