<!--
    Menu
-->
<nav class="container-fluid navbar navbar-expand-md navbar-light bg-white shadow-sm mb-2">
    <img class="navbar-brand" src="assets/img/login-logo.svg" alt="logo">
    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="mynavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/lessons">Acceuil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">A propos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compte</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" routerLink="/account">Informations personnelles</a>
                    <a class="dropdown-item" routerLink="/account/payments">Paiements</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--
    Main part
-->
<section class="py-3" *ngIf="this.lessons">
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-8 course_details_left">
                <div class="main_image">
                    <div class="text-center text-capitalize text-bolder p-3">
                        {{this.actual_lesson.title}}
                    </div>
                    <video class="img-fluid" width="700" [src]="this.actual_lesson.video_url" type="video/mp4" controls>
                        Your browser does not support HTML5 video.
                      </video>
                    <div class="d-flex justify-content-around mt-2 mb-2">
                        <button class="btn btn-outline-primary" (click)="goBack()" [disabled]="!isBackable"><i class="fas fa-angle-left"></i> Vidéo précédente</button>
                        <button class="btn btn-outline-primary" (click)="goNext()" [disabled]="!isNextable">Vidéo Suivante <i class="fas fa-angle-right"></i></button>
                    </div>
                    <hr>
                </div>
                <div class="content_wrapper pt-4">
                    <h4 class="pt-3 font-weight-bolder text-primary">Liste des cours</h4>
                    <div class="">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item justify-content-between align-items-center d-flex" *ngFor="let lesson of lessons">
                                <p>{{ lesson.title}}</p>
                                <a class="btn btn-outline-primary text-capitalize" (click)="setActualLesson(lesson)">voir</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 right-contents">
                <div class="sidebar_top">
                    <div class="card w-100" style="width: 18rem;">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item justify-content-between d-flex">
                                    <p class="text-muted">Professeur:</p>
                                    <span class="text-primary">Yao Ange</span>
                                </li>
                                <li class="list-group-item justify-content-between d-flex">
                                    <p class="text-muted">Durée aproximative</p>
                                    <span class="text-muted">40 hrs</span>
                                </li>
                                <li class="list-group-item justify-content-between d-flex flex-column text-justify">
                                    <h4 class="text-primary">Objectifs</h4>
                                    <div class="text-muted">
                                        {{this.actual_lesson.body}}
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>