<form [formGroup]="defaultForm" (ngSubmit)="submitForm()">

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Nom complet" formControlName="name" required>
        <div class="input-group-append">
            <i class="input-group-text fas fa-user"></i>
        </div>
    </div>
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="E-mail" formControlName="email" required>
        <div class="input-group-append">
            <i class="input-group-text fas fa-envelope"></i>
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <i class="input-group-text fas fa-lock"></i>
        </div>
        <input type="password" class="form-control" placeholder="Mot de Passe" formControlName="password" required>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <i class="input-group-text fas fa-lock"></i>
        </div>
        <input type="password" class="form-control" placeholder="Retaper Mot de Passe" formControlName="passwordCheck" required>
    </div>

    <div>
        <button class="btn btn-primary btn-block rounded-pill" type="submit" [disabled]="defaultForm.invalid">Valider</button>
    </div>

    <div class="mt-3">
        <a class="btn btn-link btn-block rounded-pill" routerLink="/login" role="button">Se connecter</a>
    </div>
</form>