<form [formGroup]="defaultForm" (ngSubmit)="submitForm()">

    <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="Email Utilisateur" formControlName="email" required>
        <div class="input-group-append">
            <i class="input-group-text fas fa-user"></i>
        </div>
    </div>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <i class="input-group-text fas fa-lock"></i>
        </div>
        <input type="password" class="form-control" placeholder="Mot de Passe" formControlName="password" required>
    </div>

    <div>
        <button class="btn btn-primary btn-block rounded-pill" type="submit" [disabled]="defaultForm.invalid">Valider</button>
    </div>

    <div class="mt-3 mb-1">
        <a class="btn btn-link btn-block rounded-pill" role="button" routerLink="forgot-password">Mot de passe oublié ?</a>
    </div>
    <div class="mt-1">
        <a class="btn btn-link btn-block rounded-pill" routerLink="register" role="button">Créer un compte</a>
    </div>
</form>