/* You can add global styles to this file, and also import other style files */

body,
html {
    width: 100%;
    height: 100%;
}


/* Class to access body from login component*/

.login-body {
    background: url("assets/img/login.jpg") center no-repeat;
    background-size: cover;
    color: white;
}

.navbar-brand {
    @media (min-width: 992px) {
        width: 10%;
    }
    @media (max-width: 992px) {
        width: 50%;
    }
}