<!--
    Menu
-->
<nav class="container-fluid navbar navbar-expand-md navbar-light bg-white shadow-sm mb-2">
    <img class="navbar-brand" src="assets/img/login-logo.svg" alt="logo">
    <button class="navbar-toggler collapsed border-0" type="button" data-toggle="collapse" data-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="mynavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/lessons">Acceuil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">A propos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Compte</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" routerLink="/account">Informations personnelles</a>
                    <a class="dropdown-item" routerLink="/account/payments">Paiements</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!--
    Main part
-->
<section id="courses" class="container pt-3 pb-3">
    <div class="row d-flex justify-content-center">
        <form class="col-sm-12 col-lg-8 border rounded mb-4 p-3 shadow-sm">
            <div class="form-group">
                <h4 class="text-bolder">Paramètre Mail</h4>
            </div>
            <div class="form-group">
                <label for="oldmail">Adresse mail</label>
                <input type="email" class="form-control" id="oldmail" placeholder="name@example.com" disabled>
            </div>
            <div class="form-group">
                <label for="oldmail">Nouvelle adresse mail</label>
                <input type="email" class="form-control" id="mail" name="mail">
            </div>
            <div class="d-flex justify-content-right">
                <a class="btn btn-primary">mettre à jour</a>
            </div>
        </form>

        <form class="col-sm-12 col-lg-8 mb-5 border rounded p-3 shadow-sm">
            <div class="form-group">
                <h4 class="text-bolder">Paramètre mot de passe</h4>
            </div>
            <div class="form-group">
                <label for="oldmail">Nouveau mot de passe</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="oldmail">réécrire motde passe</label>
                <input type="password" class="form-control" id="password_check">
            </div>
            <div class="d-flex justify-content-right">
                <a class="btn btn-primary">Modifier mot de passe</a>
            </div>
        </form>

        <form class="col-sm-12 col-lg-8 mb-5 pb-3 border rounded p-3 shadow-sm">
            <div class="form-group">
                <h4 class="text-bolder">Sélectionner ses filières</h4>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                <label class="form-check-label" for="exampleRadios1">
                  Filière 1
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
                <label class="form-check-label" for="exampleRadios2">
                  Filière 2
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3">
                <label class="form-check-label" for="exampleRadios3">
                  Filière 3
                </label>
            </div>
            <div class="mt-3">
                <a class="btn btn-primary">Ajouter / Supprimer Filières</a>
            </div>
        </form>
    </div>
</section>